<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script>
    <script src="/js/listings.js"></script>
    <title>Indeed Listings</title>
  </head>
  <body>
    <div class="pageWrapper">
      <div id="searchWrapper">
        <form method = "post" action="/test">
          <input name="job" type="text" id="searchTitle" placeholder="Job Title"></input>
          <input name = "location" type="text" id="searchLocation" placeholder="Location"></input>
          <input id="seachButton" type="Submit" value="Search" onclick="empty()"></input>
        </form>
      </div>
      <div id="jobList">
        <% if (listings.listings.length > 0) { %>
          <% for (var i = 0; i < listings.listings.length; i++) { %>
            <li class="jobCard">
              <a href="<%= listings.listings[i].jobLink %>">
                <h1><%= listings.listings[i].jobTitle %></h1>
                <h3><%= listings.listings[i].company %>, <%= listings.listings[i].location %></h3>
                <p><%= listings.listings[i].summary %></p>
              </a>
              <div id="fullListing">
                <% if (listings.listings[i].jobListing.length > 0) { %>
                <%= listings.listings[i].jobListing %>
                <% } %>
              </div>
            </li>
          <% } %>
        <% }  else { %>
        <div class="jobCard">
          <h1>Nothing came up on that search! Please try again.</h1>
        </div>
        <% } %> 
      </div>
    </div>
    <footer>
      <div class="footerContents">
        <% if (listings.footer) { %>
          <p><%= listings.footer.title %> <a href="<%= listings.footer.links[0].link %>"><%= listings.footer.links[0].text %></a></p>
          <ul>
            <% for (var i = 1; i < listings.footer.links.length; i++) { %>
              <li>
                <a href="https://www.indeed.com<%= listings.footer.links[i].link %>"><%= listings.footer.links[i].text %></a>
              </li>
            <% } %>
          </ul>
          <% } else { %>
          <p>What's up dude</p>
        <% } %>
      </div> 
    </footer>
  </body>
</html>
