<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Indeed Listings</title>

  </head>
  <body>
    <% for (var i = 0; i < listings.length; i++) { %>
        <li>
          <a class="jobCard" href="<%= listings[i].jobLink %>">
            <h1><%= listings[i].jobTitle %></h1>
            <h3><%= listings[i].company %>, <%= listings[i].location %></h3>
            <p><%= listings[i].summary %></p>
          </a>
        </li>
    <% } %>
  </body>
</html>
